<%= form_for @task, :html => { :class => 'form-horizontal' } do |f| %>

<% if @task.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      The form contains <%= pluralize(@task.errors.count, "error") %>.
    </div>
    <ul>
    <% @task.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :free, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :free, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :paid, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :paid, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :impact_score, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :impact_score, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :doability_score, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :doability_score, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :estimated_time, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :estimated_time, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :reqruires_developer, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :reqruires_developer, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :requires_client, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :requires_client, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :risk_score, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :risk_score, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :category_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :category_id, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                tasks_path, :class => 'btn' %>
  </div>
<% end %>

Note: Categories are as follows
 <table class="table table-striped">
  <thead>
    <tr>
      <th>Category</th>
      <th>Category ID</th>
    </tr>
  </thead>
  <tbody>
<% Category.all.each do |category| %>
 
 <tr>
  <td><%= category.name %></td>
  <td><%= category.id %></td>
 </tr>
    <% end %>
  </tbody>
</table> 
